@media only screen and (min-width: 768px) {
  
#all{
  background-color: #ffd8b8;
  background-size: cover;
  height: 200vh;
}
#header{
    position: relative;
    height: 20vh;
    text-align: center;
    font-size: 5em;
    
}

#aidant{
    font-size: 2em;
}

.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 25vw;
}
.users li {
  cursor: pointer;
  position: relative;
  left: 10vw;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 3em;
  border-radius: 4px;
  list-style: none;
}
.users li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.users li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: 12vw;
}
.users .text {
  position: relative;
  top: -3px;
}
.users .badge {
  display: inline-block;
  font-size: 100%;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #f29721;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 3em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

li{
  list-style: none;
}
#mid{
  float: left;
}
#right{
  margin-left: 50vw;
}
}



@media only screen and (max-width: 767px) {
  
#all{
  background-color: #ffd8b8;
  background-size: cover;
  height: 200vh;
}
#header{
    position: relative;
    height: 10vh;
    text-align: center;
    font-size: 2em;
    
}

#aidant{
    font-size: 1em;
}

.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 45vw;
}
.users li {
  cursor: pointer;
  position: relative;
  left: 2vw;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 3em;
  border-radius: 4px;
  list-style: none;
}
.users li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.users li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: 5vw;
}
.users .text {
  position: relative;
  top: -3px;
}
.users .badge {
  display: inline-block;
  font-size: 100%;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #f29721;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 3em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

li{
  list-style: none;
}
#mid{
  float: left;
}
#right{
  margin-left: 50vw;
}
}
