#all{
    background-color: #ffd8b8;
    background-size: cover;
    height: 150vh;
    width: 100vw;
}

#head{
    font-size: 3em;
    font-weight: 1000;
    text-align: center;
}
#title{
    font-size: 2em;
    font-weight: 1000;
    margin-top: 2vh;
    margin-left: 3vh;
}
#txt{
    font-size: 1em;
    font-weight: 1000;
    margin: 1vh;
    margin-left: 10vw;
}
#t1,#t2,#t3{
    height: auto;
    width: 60vw;
    border: 1em;
    margin-left: 20vw;
    border-color: #ff7b00;
    border-width: 5px;
    border-style: solid;
    margin-top: 1vh;
}