<div id="all" *ngIf="currentUser; else loggedOut">
  <div id="head">
    Profil de {{ currentUser.username }} 
  </div>
  <div id="t1">
    <h3 id="title">Modification de mot de passe</h3>
      <input id="txt" type="password" [(ngModel)]="password">
      <button type="button" class="button" (click)="modifyPWD()">Modifier</button>
  </div>
  <div id="t2">
    <div class="code-column">
      <h3 id="title">Codes des fichiers</h3>
      <ul>
        <li *ngFor="let fileCode of (fileCodes | async)" id="txt">{{ fileCode }}</li>
      </ul>
      </div>
      <div class="code-column">
      <h3 id="title">Codes des questionnaires</h3>
      <ul>
        <li *ngFor="let surveyCode of (surveyCodes | async)" id="txt">{{ surveyCode }}</li>
      </ul>
  </div>
  </div>
  <div id="t3">
    <div id="title">Rôles:</div>
    <li *ngFor="let role of currentUser.roles" id="txt">
      {{ role }}
    </li>
  </div>
</div>

<ng-template #loggedOut>
  Veuillez vous connecter.
</ng-template>