<div id="all">
    <div id="header" class="large-12 columns">
        <div id="left">
            
        </div>
        <div id="mid">DIVA'NUM</div>
        <div id="right">
            
        </div>
    </div>
    <div id="mid">
    <button routerLink="/login" id="login">Connexion</button><br>
    <button routerLink="/upload" id="login">Accès rapide</button><br>
    <!-- <button routerLink="/register" id="login">Sign up</button> -->
    </div>
    <div class="foot">
        <div id="explain">DIVA'NUM est un projet de recherche qui fait partie de DIVADOM. Cette plateforme permettra aux aidants des personnes âgées bénéficiaire de DIVADOM d'envoyer et de sauvegarder des données numériques.  </div>
        
    </div>
</div>

    